/* DEVELOPER: Jeanpierre Rea, IS117-004, Spring 2021 */

/* media queries: desktop view */
@media all and (min-width: 990px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

/* Map styling for Contact Page */
#map { 
	position: relative; 
	top: 0; 
	bottom: 0; 
	width: 100%; 
	height: 100%; 
	border-radius: 10px;
}